<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>New message</title>
</head>
<body>
    <span>New Message: </span>
    <form method="POST" action="/new">
        <label for="userName">Name: </label>
        <input type="text" name="userName" id="userName">
        <label for="message">Message: </label>
        <input type="text" name="message" id="message">

        <button type="submit">Submit</button>
    </form>
</body>
</html>